# Alexandria Curso Basico

## Cargar datos
A continuacion se pueden visualizar multiples formas de cargars datos para su posterior procesamiento. Dentro del entorno python la libreria mas utilizada para este prorposito es pandas.

Esta herramienta nos permite cargar datos de diferentes tipos de fuentes de datos, los mismos pueden ser CSV, TSV, Sql, Bases de datos tradicionales, JSON, HTML, Haddop, SAS, Big query, Stata entre otros

!pip install --upgrade pandas-profiling

!pip install -U seaborn

In [1]:
import numpy as np
import pandas as pd
import pandas_profiling
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
%matplotlib inline

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('./titanic.csv')

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Analisis exploratorio de los datos
A este tipo de análisis se lo conoce como univariado.

En la siguiente descripción podemos observar la cantidad de registro que muetra cada variable, y otros datos estadísticos que analizaremos más adelante.

In [5]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

# Reconocer el tipo de datos
Es importante conocer de que tipo de datos estamos hablando.

A esa tarea la podemos hacer mediante el siguiente código:

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

# Reducción de dimensionalidad
Para este dataset, cree uds que es necesario reducir la dimensionalidad?

Dado que tenemos tan pocas variables, no parecería necesario.

# Preprocesamiento de datos 
Para comenzar el preprocesamiento de datos, vamos a tener que graficar cada una de las variables. 

Para ello, una de las novedades que nos presenta Python es...

## Pandas profiling
Esta extensión de pandas nos permite generar un archivo html con una estética deslumbrante para el análisis univariado de nuestro set de datos.
Avancemos en ello...

## Algo parecido a pandas profiling
Algo más rústico pero igualmente útil se puede hacer por medio del siguiente código, más manual y menos rápido sería...

### Distribucion del target
Una tarea útil puede ser reconocer como se ditribuye el target. Esto tendrá otras implicancias en cuanto a balance que explicaremos para el target en relación a cada una de las variables numéricas

Recordemos que...

Pclass = Ticket class

sibsp = Esposo/a o Cantidad de hermanos a bordo del Titanic

parch = Padres / hijos  a bordo del Titanic

fare = Tarifa del pasajero

# Verificar nulos
Para verificar si los campos tienen valores nulos hacemos lo siguiente

Ahí podemos ver que los que tienen valores nulos son: Age, Cabin, Embarked

Para ver la cantidad de nulos que tiene cada campo...

# Estética y luego transformación
## Agrupando columnas por tipo de datos

## Armando lista de columnas categóricas

## Armando lista de columnas numéricas

## Imputación de nulos
### Datos cuantititavos

### Datos categóricos

Controlamos que no queden valores faltantes

Y nuestro set de datos se verá de la siguiente manera...