# Alexandria Curso Basico - MODULO 3

## Cargar datos
A continuacion se pueden visualizar multiples formas de cargars datos para su posterior procesamiento. Dentro del entorno python la libreria mas utilizada para este prorposito es pandas.

Esta herramienta nos permite cargar datos de diferentes tipos de fuentes de datos, los mismos pueden ser CSV, TSV, Sql, Bases de datos tradicionales, JSON, HTML, Haddop, SAS, Big query, Stata entre otros

!pip install --upgrade pandas-profiling

!pip install -U seaborn

In [ ]:
import numpy as np
import pandas as pd
import pandas_profiling
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [16]:
import warnings
warnings.filterwarnings('ignore')

In [17]:
df = pd.read_csv('./titanic.csv')

In [18]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Reconocer el tipo de datos
Es importante conocer de que tipo de datos estamos hablando.

A esa tarea la podemos hacer mediante el siguiente código:

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Name        891 non-null object
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Ticket      891 non-null object
Fare        891 non-null float64
Cabin       204 non-null object
Embarked    889 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

# Estética y luego transformación
## Agrupando columnas por tipo de datos

In [ ]:
tipos = df.columns.to_series().groupby(df.dtypes).groups
ctext = tipos[np.dtype('object')]
ctext

In [ ]:
columnas = df.columns  # lista de todas las columnas
cnum = list(set(columnas) - set(ctext))
cnum

## Imputación de nulos
### Datos cuantititavos

In [ ]:
for c in cnum:
    mean = df[c].mean()
    if df[c].isna().sum() > 0:
        df[c+'_nan'] = df[c].isna()
    df[c] = df[c].fillna(mean)

### Datos categóricos

In [ ]:
for c in ctext:
    mode = df[c].mode()[0]
    if df[c].isna().sum() > 0:
        df[c+'_nan'] = df[c].isna()
    df[c] = df[c].fillna(mode)

Y nuestro set de datos se verá de la siguiente manera...

In [ ]:
df.head(10)

# MÓDULO 3